<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= current.path %></title>
  <%- partial('/_partial/common_css_files') %>
  <%- partial('/_partial/common_js_files') %>
</head>
<body>
  <%- yield %>
</body>
</html>
