<div class="main" id="main">
  <svg class="map"></svg>
  <ul class="monitor">
    <li>scale: <span id="scale"></span></li>
    <li>translate: <span id="translate"></span></li>
  </ul>
</div>

<script src="js/<%= current.path.join('/') %>.js"></script>
